.government{
  width: 1260px;
  height: 75px;
}
.goi-image{
  position: relative;
  left: 50px;
  top:8px;
  width: auto;
  height: 50px;
}
.nta-img{
  position: relative;
  left: 1000px;
  top:-110px;
  width: auto;
  height: 50px;
}
.season-1{
  position: relative;
  top: -42px;
}
.nav{
  background-color: #25316D;
  position:relative;
  top: -20px;
  height: 50px;

}
.login-page-1{
  background-color: #17D7A0;
  width: 550px;
  height: 350px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  opacity: .9;
}
.login-page-2{
  background-color: #041562;
  position:absolute;
  left: 620px;
  top: 185px;
  width: 550px;
  height: 495px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  opacity: .9;
  transition: .2s;
  color: white;
}
.login-page-2:hover{
      transform: scale(1.1);
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
      z-index: 3;
      border-color: red;
      background-color: green;
}
.nav-item{
  color: white;
  font-size: 20px;
  margin-left: 40px;
  position:relative;
  top: 10px;
  cursor: pointer;
}
.form{
  position: relative;
  left: -300px;
  color: white;
}
.bottom{
  background-color: #25316D;
  width: 1255px;
  height: 140px;
  padding: 2% 5%;
  margin-top: 40px;
  margin-bottom: 10px;
  color: white;
}
